@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#loginbackground {
    background-image: url('../../public/images/loginbackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#something {
    background-image: url('../../public/images/masagana ani.png');
    background-repeat: no-repeat;
    background-size: 750px;
    background-position: 90% 20%;
}

#preloader {
    background-image: url('../../public/images/da-loading.gif');
    background-repeat: no-repeat;
    background-color: #000;
    background-position: center;
    opacity: 75%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}